# Sleep Efficiency Dataset

## Day 1: EDA and Data Cleaning

In [2]:
# Loading packages that we need
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import PowerTransformer, StandardScaler, minmax_scale
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

### Loading & Analyzing the data

In [23]:
# Loading data
sleepy_df = pd.read_csv('Sleep_Efficiency.csv')
sleepy_df.head(3)

,ID,Age,Gender,Bedtime,Wakeup time,Sleep duration,Sleep efficiency,REM sleep percentage,Deep sleep percentage,Light sleep percentage,Awakenings,Caffeine consumption,Alcohol consumption,Smoking status,Exercise frequency
0,1,65,Female,2021-03-06 01:00:00,2021-03-06 07:00:00,6.0,0.88,18,70,12,0.0,0.0,0.0,Yes,3.0
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0

In [19]:
# Analyzing the columns
sleepy_df.columns.unique()

Index(['ID', 'Age', 'Gender', 'Bedtime', 'Wakeup time', 'Sleep duration',
       'Sleep efficiency', 'REM sleep percentage', 'Deep sleep percentage',
       'Light sleep percentage', 'Awakenings', 'Caffeine consumption',
       'Alcohol consumption', 'Smoking status', 'Exercise frequency'],
      dtype='object')

In [25]:
# Analyzing the data type and number of NaNs
sleepy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      452 non-null    int64
 1   Age                     452 non-null    int64
 2   Gender                  452 non-null    object
 3   Bedtime                 452 non-null    object
 4   Wakeup time             452 non-null    object
 5   Sleep duration          452 non-null    float64
 6   Sleep efficiency        452 non-null    float64
 7   REM sleep percentage    452 non-null    int64
 8   Deep sleep percentage   452 non-null    int64
 9   Light sleep percentage  452 non-null    int64
 10  Awakenings              432 non-null    float64
 11  Caffeine consumption    427 non-null    float64
 12  Alcohol consumption     438 non-null    float64
 13  Smoking status          452 non-null    object
 14  Exercise frequency      446 non-null    float64
dtypes: float64(6), int64(5), object(4)
memory usage: 53.1+ KB

In [29]:
nancount = sleepy_df.isna().sum()
print(nancount)

ID                         0
Age                        0
Gender                     0
Bedtime                    0
Wakeup time                0
Sleep duration             0
Sleep efficiency           0
REM sleep percentage       0
Deep sleep percentage      0
Light sleep percentage     0
Awakenings                20
Caffeine consumption      25
Alcohol consumption       14
Smoking status             0
Exercise frequency         6
dtype: int64

In [32]:
# How many duplicates are present
print(sleepy_df.duplicated().sum())

0

### Uniforming the columns

In [39]:
#Lower case all the columns
def lower_case_column_names():
    sleepy_df.columns=[i.lower() for i in sleepy_df.columns]
    return sleepy_df

In [45]:
sleepy_df = lower_case_column_names()

In [44]:
# Renaming the columns with underscores 
def rename_columns(sleepy_df):
    sleepy_df.rename(columns={'wakeup time':'wakeup_time', 'sleep duration':'sleep_duration',
                              'sleep efficiency':'sleep_efficiency', 'rem sleep percentage':'rem_sleep_percentage',
                             'deep sleep percentage':'deep_sleep_percentage','light sleep percentage':'light_sleep_percentage',
                             'caffeine consumption':'caffeine_consumption', 'alcohol consumption':'alcohol_consumption',
                             'smoking status':'smoking_status','exercise frequency':'exercise_frequency'}, inplace=True )
    return sleepy_df
sleepy_df=rename_columns(sleepy_df)

sleepy_df.head(3)

,id,age,gender,bedtime,wakeup_time,sleep_duration,sleep_efficiency,rem_sleep_percentage,deep_sleep_percentage,light_sleep_percentage,awakenings,caffeine_consumption,alcohol_consumption,smoking_status,exercise_frequency
0,1,65,Female,2021-03-06 01:00:00,2021-03-06 07:00:00,6.0,0.88,18,70,12,0.0,0.0,0.0,Yes,3.0
1,2,69,Male,2021-12-05 02:00:00,2021-12-05 09:00:00,7.0,0.66,19,28,53,3.0,0.0,3.0,Yes,3.0
2,3,40,Female,2021-05-25 21:30:00,2021-05-25 05:30:00,8.0,0.89,20,70,10,1.0,0.0,0.0,No,3.0

In [50]:
# Checking for typs in text columns
sleepy_df['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [51]:
sleepy_df['smoking_status'].unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
# change data type
#file2_df[['income', 'monthly_premium_auto', 'total_claim_amount']] = file2_df[['income', 'monthly_premium_auto', 'total_claim_amount']].astype(float)
#file2_df.info()

In [ ]:
# Let us calculate the mean of those columns where we find NaNs
# Columns to work on: 
# Replace the nans with the mean
#df.replace(np.nan, "MEaaAN", inplace = True)